# Практика. Метрики классификации

Данное практическое задание позволит вам научиться вычислять метрики бинарной классификации и сравнивать по ним различные модели.

## Прогноз оттока клиентов телеком (telecom churn prediction)

В данной задаче необходимо потсроить модель, которая сможет выделить среди клиентов телекома тех, кто собирается прекратить пользоваться услугами.

### Подключение библиотек

In [1]:
%pylab inline
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn

Populating the interactive namespace from numpy and matplotlib

### Загрузка данных

In [4]:
dataset_url = 'https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/telecom_churn.csv'

churn_ds = pd.read_csv(dataset_url)
churn_ds.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [5]:
churn_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   int64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   int64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   int64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   int64
 19  Churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 498.1+ KB

### Подготовка данных

Целевая переменная хранится в столбце Churn.

В качестве признаков возьмем только числовые признаки и бинарные категориальные (International plan и Voice mail plan).

Проверим, что столбцы 'International plan' и 'Voice mail plan' модержат только 2 значения.

In [8]:
churn_ds['International plan'].unique()

array(['No', 'Yes'], dtype=object)

In [9]:
churn_ds['Voice mail plan'].unique()

array(['Yes', 'No'], dtype=object)

Закодируем эти значения с помощью 0 и 1.

In [20]:
from sklearn.preprocessing import OrdinalEncoder

ordinal_encoder = OrdinalEncoder()

churn_ds[[
    'International plan encoded',
    'Voice mail plan encoded',
]] = ordinal_encoder.fit_transform(churn_ds[['International plan', 'Voice mail plan']])

In [21]:
target = 'Churn'
features = [
    'Account length',
    'International plan encoded',
    'Voice mail plan encoded',
    'Number vmail messages',
    'Total day minutes',
    'Total day calls',
    'Total day charge',
    'Total eve minutes',
    'Total eve calls',
    'Total eve charge',
    'Total night minutes',
    'Total night calls',
    'Total night charge',
    'Total intl minutes',
    'Total intl calls',
    'Total intl charge',
    'Customer service calls',
]

y = churn_ds[target]
X = churn_ds[features]

### Разделение на обучающую и проверочную выборки

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

## Задание

1. Обучите DummyClassifier в качестве базовой модели и оцените метрику accuracy на проверочной выборке.
2. Обучите LogisticRegression и KNeighborsClassifier и сравните их accuracy с базовой моделью.
3. Для всех 3-х моделей вычислите точность, полноту и F-меру.
4. Проведите сравнительный анализ по полученным метрикам
5. Постройте для LogisticRegression и KNeighborsClassifier PR-кривой и проведите ее анализ
6. Постройте для LogisticRegression и KNeighborsClassifier ROC-кривую и проведите ее анализ
7. На основании проведенного анализа выберите модель и метрику.